.headerArea{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 125px;
    clear: both;
}

.header {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 1000px;
}
.header ul li{
    display: inline;
    margin: 0;
    float: left;
}
.header ul{
    margin: 0;
    margin-left: 10px;
}
.header {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 1000px;
}
.header ul li{
    display: inline;
    margin: 0;

}
.header .label{
    padding: 2px;
    font-weight: bold;
}
.header .dados{
    padding: 2px;
}
.infoUsuario{
    margin: 0 30px;
    padding-top: 4px;
}
.infoUsuario li{
    padding: 0;
}

.links{
    padding: 0;
    float: right;
}
.links li{
    padding: 0 8px;
    padding-top: 6px;
}
.links li a{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
